<h1>
	Search for testing locations-Currently only locations in USA are availabe. More locations to be added soon.
</h1>
<form action="/testingLocations" method="GET">
	<input type="text" placeholder="State name" name="state">
	<input type="submit">
</form>